<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Merlin Master</title>

        <%- include('./includes.ejs') %>
    </head>
    <body>
        <h1>home</h1>
        <pre><%= JSON.stringify(user, null, 2) %></pre>
        <a href="/<%= config.apiPrefix %>/auth/logout" target="_blank">Log me out</a>
    </body>
</html>