<h1>Log in</h1>

<input type="text" name="username" placeholder="Username...">
<input type="password" name="password" placeholder="Password...">
<button id="login">Log me in</button>
<br><br>
<button id="user">Get user data</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#login').on('click', function() {
        $.ajax({
            url: 'http://<%= localIP %>:<%= config.apiPort %>/auth/login',
            method: 'POST',
            data: { username: $('input[name="username"]').val(), password: $('input[name="password"]').val() },
            success: function(result) {
                console.log(result);
            },
            error: function(err) {
                console.log(err);
            },
            timeout: 3000
        });
    });

    $('#user').on('click', function() {
        $.ajax({
            url: 'http://<%= localIP %>:<%= config.apiPort %>/user',
            method: 'GET',
            success: function(result) {
                console.log(result);
            },
            error: function(err) {
                console.log(err);
            },
            timeout: 3000
        });
    });
</script>