<header>
    <a href="/">
        <img src="<% if(theme.logoFile == undefined) { %>img/logo.svg<% } else { %><%= theme.logoFile %><% } %>" alt="Merlin">
    </a>
    <nav class="menu">
        <a href="/">devices</a>
        <a href="/overview" class="disabled">overview</a>
        <a href="/logic" class="disabled">logic</a>
        <a href="/settings">settings</a>
    </nav>
</header>